@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #f7f7f7;
}
.container{
    max-width: 1200px;
}
header .container{
    background-image: url(../img/Group\ 1\ \(1\).png);
    background-size: 506px 550px;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
}
@media screen and (max-width: 992px){
    header .container{
        background-size: 315px 380px;
        height: 400px;
    }
}
@media screen and (max-width: 576px){
    header .container{
        background-size: 215px 280px;
    }
}
.navbar a{
    color: #63ab5c;
    font-weight: 700;
}
.nav-link-dwnld{
    color: #63ab5c;
}
.header__slogan{
    max-width: 650px;
    text-align: left;
}
@media screen and (max-width: 768px){
    .header__slogan{
        max-width: 440px;
    }
}
@media screen and (max-width: 576px){
    .header__slogan{
        max-width: 576px;
    }
}
.header__main-slogan{
    font-weight: 700;
    color: #63ab5c;
    font-size: 40px;
    padding-top: 80px;
}
@media screen and (max-width: 992px){
    .header__main-slogan{
        font-size: 30px;
        padding-top: 30px;
    }
}
@media screen and (max-width: 768px){
    .header__main-slogan{
        font-size: 25px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 576px){
    .header__main-slogan{
        font-size: 20px;
        padding-top: 15px;
    }
}
.header__note{
    font-size: 25px;
}
@media screen and (max-width: 768px){
    .header__note{
        font-size: 22px;
    }
}
@media screen and (max-width: 576px){
    .header__note{
        font-size: 15px;
        max-width: 350px;
    }
}
form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
form input{
    max-height: 40px;
    text-align: center;
}
input[type="email"] {
    border-radius: 25px 0px 0px 25px;
    border: solid 1px #63ab5c;
    border-right: none;
}
input[type="submit"] {
    border-radius: 0px 25px 25px 0px;
    border: none;
    background: linear-gradient(90deg, rgb(143, 224, 170) 0%, rgb(200, 233, 177) 100%);
    color: white;
    font-weight: 500
}
@media screen and (max-width: 992px){
    form{
        margin-top: 25px;
    }
}
@media screen and (max-width: 576px){
    form{
        margin-top: 50px;
        text-align: center;
    }
}
.section-service__main-title, .section-functions__main-title, .section-functions__updates-title{
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
}
@media screen and (max-width: 992x){
    .section-service__main-title, .section-functions__main-title, .section-functions__updates-title{
        padding-top: 40px;
    }
}
@media screen and (max-width: 768x){
    .section-service__main-title, .section-functions__main-title, .section-functions__updates-title{
        font-size: 25px;
        padding-top: 20px;
    }
}
@media screen and (max-width: 576x){
    .section-service__main-title, .section-functions__main-title, .section-functions__updates-title{
        font-size: 20px;
        padding-top: 10px;
    }
}
.shadow-lg{
    max-width: 350px;
    max-height: 300px;
    text-align: center;
}
.our-service{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.our-service__text{
    font-weight: 600;
}
.our-service__image{
    max-height: 100px;
    max-width: 100px;
}
@media screen and (max-width: 768px){
    .shadow-lg{
        max-width: 350px;
        max-height: 250px;
        text-align: center;
    }
    .our-service__image{
        max-height: 80px;
        max-width: 80px;
    }
}
@media screen and (max-width: 768px){
    .our-service{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 10px;
        justify-content: center;
    }
    .our-service__image{
        max-height: 50px;
        max-width: 50px;
    }
}
.section-functions .container{
    background-image: url(../img/image\ 4.png);
    color: white;
    border-radius: 20px;
    max-height: 600px;
}

@media screen and (max-width:992px){
    .section-functions .container{
        max-height: 800px;
    }
}
@media screen and (max-width:768px){
    .section-functions .container{
        max-height: 1200px;
    }
    .functions-column{
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    .section-functions .container{
        max-height: 1000px;
    }
}
.functions-wrapper{
    display: flex;
}
.section-finctions__item{
    display: flex;
    max-width: 600px;
    text-align: justify;
    margin: 15px;
    font-weight: 600;
    text-indent: 25px;
}
.section-finctions__item img{
    max-width: 64px;
    max-height: 64px;
    margin: 0 50px;
}
@media screen and (max-width: 768px){
    .section-finctions__item img{
        max-width: 44px;
        max-height: 44px;
        margin-top: 80px;
    }
}
@media screen and (max-width: 576px){
    .functions-wrapper{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .reverse-item{
        flex-direction: row-reverse;
    }
    .section-finctions__item{
        margin: 0px;
    }
    .section-finctions__item img{
        margin-top: 10px;
    }
}
.functions-column{
    margin: 50px;
}
.section-updates .container{
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.updates-info img{
    max-height: 450px;
}
.updates-info{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 992px){
    .updates-info img{
        max-height: 350px;
        margin-top: 60px;
    }
}
@media screen and (max-width: 768px){
    .updates-info img{
        max-height: 230px;
        margin-top: 170px;
    }
}
@media screen and (max-width: 576px){
    .updates-info{
        display: flex;
        flex-direction: column;
    }
    .updates-info img{
        margin-top: -20px;
    }
}
ul{
    text-align: left;
    list-style: url(../img/arrow-32-16.png);
}
ul li{
    margin: 15px;
}
.download-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.download-images a img{
    max-width: 300px;
}
@media screen and (max-width: 768px){
    .download-images a img{
        max-width: 200px;
    }
}
@media screen and (max-width: 576px){
    .download-images{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
footer .container{
    margin-top: 50px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(90deg, rgb(143, 224, 156) 0%, rgb(177, 233, 200) 100%);
    color: white;
}
.footer__social-media{
    margin: 15px;
}
.footer-info__main-title{
    text-align: center;
}
@media screen and (max-width: 768px){
    .footer-info__main-title{
        font-size: 20px;
    }
}